.oswald> {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
  }

header {
    font-family: "Oswald", serif;
    margin: 0;
    padding: 5px;
    background-color: #0b0b31;
    color: #f1f2f5;
    
}

body {
    background-color: #f1f2f5;
    font-family: "ariel", sans-serif;
    margin: 0;
    padding: 0;
}
    

.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

nav ul.flexbox {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #dddddd;

}

nav ul.flexbox li.button {
    margin-left: 20px;
    
}

nav ul.flexbox li.button a {
    text-decoration: none;
    outline-color: #dddddd;
}

.button {
    font-size: xx-small;
    color: #f0f3f3;
   }

.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

nav ul.flexbox {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul.flexbox li.button {
    margin-left: 20px;
}

nav ul.flexbox li.button a {
    text-decoration: none;
    color: #000;
}

/*Title line and hyperlinks*/
.header-container2 img{
    display: flex;
    flex-direction: row;
    padding-right: 29%;
    justify-content: left;
    align-items: left;
    
    
}
.header-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    background-color: #f0f0f0; 
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    position: top;
}

nav ul.flexbox2 {
    display: flex;
    align-content: right;
    margin: 0;
    padding: 5px;
}

nav ul.flexbox2 li.button {
    margin-right: 10px;
}

nav ul.flexbox2 li.button a {
    text-decoration: none;
    
    color: rgb(157, 157, 158);
    background-color: #0b0b31;
    padding: 10px;
    border-radius: 5px;
}


/*The Big Picture*/
.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    text-align: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a background color with transparency */
    padding: 10px;
    border-radius: 5px;
}

.button {
    align-items: left;
    
    max-width: 100%;
    margin: auto;
    border-radius: 5px;
}

/* Just below "Think Big" */
.flex-container {  
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 5%;
    margin-right: 5%;
    margin-left: 5%;
    border: rgba(0, 0, 0, 0.1); /* border with transparency */
    border-top: 1px solid rgba(0, 0, 0, 0.1); /* Add a thin border on top */
}

.flex-item {
    border-right: 1px solid rgba(0, 0, 0, 0.1); /* Add a thin border between sections */
    padding: 0 10px; /* Add some padding for spacing */
}

.flex-item:last-child {
    border-right: none; /* Remove the border from the last item */
}

.flex-item img {
    display: block;

    width: 275px; /* Adjust the size as needed */
    height: auto;
    justify-items: left;
    align-content: left;
}

.flex-item h2 {
    text-align: left;
    padding-top: 0;
    padding-bottom: 5%;
    font-weight: bold;
    margin: 0 0;
    font-size: 300%;
    color: #0b0b31;
}

.more-button {
    background-color: #0b0b31;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    align-items: bottom;
}

.more-button:hover {
    background-color: darkblue;
    
}

/* footer begins here */

footer {
    background: linear-gradient(45deg, #213349, #1c2d40);
    
    color: white;
    text-align: left;
    padding: 0px;
    position: relative;
    bottom: 0;
    margin-left: 0px;
    margin-right: 0px;
    width: 100vw;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    height: fit-content;
    width: auto;
    padding: 20px;
    margin-right: 10%;
    margin-left: 10%;
    border-right: #cdd1d1c5;
    background: linear-gradient(45deg, #213349, #1c2d40);
}

.flex-item4 {
    flex:.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5px;
    align-items: flex-start;
    border-right: #cdd1d1c5;
}

.flex-item4 h2 {
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 200%;
}

.flex-item5 {
    flex:.7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: flex-start;
    margin-bottom: flex-end;
    margin-right: 10px;
    align-items: stretch;
    border-right: #cdd1d1c5;
}

.flex-item5 h2 {
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 200%;
}

.flex-item5 p {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    text-align: left;
    font-size: 20px;
}

.flex-item5 li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    text-align: justify;
    font-size: auto;
    height: auto;
}

.flex-item6 {
    flex:.7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-right: #cdd1d1c5;
}

.flex-item6 h2 {
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 200%;
}

.news-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.news-item p {
    margin: 0;
    color: #7a7a7a;
}

.news-date {
    background-color: #bd8441;
    color: white;
    padding: 25px 25px;
    border-radius: 15px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;

}
.news-date2 {
    background-color: #bc6142;
    color: white;
    padding: 25px 25px;
    border-radius: 15px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}
.news-date3 {
    background-color: #bd425e;
    color: white;
    padding: 25px 25px;
    border-radius: 15px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}



.more-button2 {
    background-color: #0b0b31;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    margin-top: auto; /* Push the button to the bottom */
    cursor: pointer;
    display: flex;
    
}

/*Copyright portion of footer*/
.footer-container2 {
    display: flex;
    justify-content: left;
    align-items: left;
    background: #0b0b31;
    width: 100vw;
    bottom: 0;
    position: relative;
    margin-top: 0px;
}

.footer-container2 p {
    margin: 0;
    padding: 10px;
    color: #f1f2f5;
    font-size: 12px;
}
/*!!Do not go below!!*/